<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>シフト登録</title>
	<link rel="stylesheet" th:href="@{/css/shift.css}" />
</head>

<body>
	<h1>シフト登録フォーム</h1>

	<form th:action="@{/shift/save}" th:object="${shiftForm}" method="post">

		<label>スタッフ名:</label>
		<select th:field="*{staffId}" required>
			<option value="">-- 選択してください --</option>
			<option th:each="staff : ${staffList}" th:value="${staff.id}" th:text="${staff.user_name}">
			</option>
			<input type="hidden" name="staffId" th:value="${shiftForm.staffId}" />
		</select><br>

		<label>日付:</label>
		<input type="date" th:field="*{shiftDate}" required /><br>

		<label>時間帯:</label>
		<select th:field="*{timeSlot}" required>
			<option value="">-- 選択 --</option>
			<option value="午前">午前</option>
			<option value="午後">午後</option>
			<option value="両方">両方</option>
		</select><br>

		<button type="submit">登録する</button>
	</form>

	<br>
	<a th:href="@{/shift/list}">← シフト一覧へ戻る</a>

</body>

</html>